/* hebrew */
@font-face {
  font-family: 'Alef';
  font-style: normal;
  font-weight: 400;
  src: local('Alef Regular'), local('Alef-Regular'), url('fonts/YSq5FGaxu3aLqDeLnbayWg.woff2') format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin */
@font-face {
  font-family: 'Alef';
  font-style: normal;
  font-weight: 400;
  src: local('Alef Regular'), local('Alef-Regular'), url('fonts/PgKMCGPCV9cpBC0J2OLAhg.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* hebrew */
@font-face {
  font-family: 'Alef';
  font-style: normal;
  font-weight: 700;
  src: local('Alef Bold'), local('Alef-Bold'), url('fonts/6FldS2NxdsYYh3OkPr4zA_Y6323mHUZFJMgTvxaG2iE.woff2') format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin */
@font-face {
  font-family: 'Alef';
  font-style: normal;
  font-weight: 700;
  src: local('Alef Bold'), local('Alef-Bold'), url('fonts/a_b6i2iOdMAEMhttbuoj2g.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('fonts/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('fonts/EsvMC5un3kjyUhB9ZEPPwg.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('fonts/UyBMtLsHKBKXelqf4x7VRQ.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('fonts/1YwB1sO8YE1Lyjf12WNiUA.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('fonts/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('fonts/H2DMvhDLycM56KNuAtbJYA.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('https://fonts.gstatic.com/s/lato/v11/R4a6fty3waPci7C44H8AjvY6323mHUZFJMgTvxaG2iE.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('fonts/tI4j516nok_GrVf4dhunkg.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url('fonts/XNVd6tsqi9wmKNvnh5HNEBJtnKITppOI_IvcXXDNrsc.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url('fonts/2HG_tEPiQ4Z6795cGfdivFtXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url('fonts/YMOYVM-eg6Qs9YzV9OSqZfesZW2xOQ-xsNqO47m55DA.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url('fonts/PLygLKRVCQnA5fhu3qk5fQ.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('fonts/AcvTq8Q0lyKKNxRlL28RnxJtnKITppOI_IvcXXDNrsc.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('fonts/HkF_qI1x_noxlxhrhMQYEFtXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url('fonts/81X-1TO5y4aMK2PPy9kFwxJtnKITppOI_IvcXXDNrsc.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url('fonts/VNUH7ZAcagYBWsAiBBCEY1tXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFF;
    font-family:'Lato', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}
.event.listening {
    background-color:#333333;
    display:block;
}
.event.received {
    background-color:#4B946A;
    display:none;
}
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.dummy {
	display:none !important;
}
.hebrew {
	direction: rtl;
	font-family:'Alef', Helvetica, Arial, sans-serif;
}
.clear{
	clear:both;
}

#sa-top-nav {
	height: 81px;
    background-color: #FFF;
    text-transform: none;
	border-bottom: #ddd 1px solid;
	line-height: 40px;
	vertical-align:middle;
}
#sa-top-nav .o1 {
	height:40px;
	border-bottom: #ddd 1px solid;
	position:relative;
}
#sa-top-nav .o1 .top-button {
	height:40px;
	width:40px;
	position:absolute;
	top:0;
	text-align:center;
	line-height: 40px;
	vertical-align:middle;
	font-size:18px;
	text-decoration: none;
    color: #444;
    font-weight: 200 !important;
}
#sa-top-nav .o1 .contain{
	position:relative;
	z-index:2;
}
#sa-top-nav .o1 .bg{
	z-index:1;
	background-image: url("../img/blurred.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	-moz-opacity: 0.1;
	-khtml-opacity: 0.1;
	opacity: 0.1;
}
#sa-top-nav .o2 {
	height:40px;
	position:relative;
}
#sa-top-nav .o2 .contain{
	position:relative;
	z-index:2;
}
#sa-top-nav .o2 .bg{
	z-index:1;
	background-image: url("../img/blurred.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}
#sa-top-nav #sa-title {
	position:absolute;
	top:0;
	bottom:0;
	left:40px;
	right:40px;
	text-align:center;
	font-size:16px;
	color:#2BC6F1;
	text-decoration:none;
	font-weight: 400;
	text-shadow: 0px 0px 2px #ddd;
}
#sa-top-nav #sa-menu-button {
	left:0;
}
#sa-top-nav #sa-settings-button {
	right:0;
}

#sa-menu{
	overflow:hidden;
	background-color:#4BAFC7;
	border:1px 0 1px 1px solid #1BA5CC;
	/*
	-webkit-box-shadow: inset -5px 0px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset -5px 0px 5px 0px rgba(0,0,0,0.3);
	box-shadow: inset -5px 0px 5px 0px rgba(0,0,0,0.3);*/
}
#sa-menu .ui-panel-inner{
	padding:0;
}
#sa-menu .sa-menu-inner{
	position:relative;
	z-index:2;
	background-color:transparent;
}
#sa-menu .sa-menu-inner .sa-menu-title{
	height: 40px;
    border-bottom:none;
    font-size: 18px;
    vertical-align: middle;
    width: 100%;
    line-height: 40px;
    text-align: center;
	background-color:#27CAF7;
}
#sa-menu .sa-menu-inner .sa-menu-menu{
	background: #19B4E0;
    background: -webkit-linear-gradient(#19B4E0,#4BAFC7);
    background: -o-linear-gradient(#19B4E0,#4BAFC7);
    background: -moz-linear-gradient(#19B4E0,#4BAFC7);
    background: linear-gradient(#19B4E0,#4BAFC7);
}
#sa-menu .sa-menu-inner .sa-menu-menu a{
	height: 40px;
    display: block;
    line-height: 40px;
    border-bottom: 1px solid #1BA5CC;
    padding: 0;
    text-decoration: none;
    color: #fff;
	position: relative;
	font-size: 16px;
	font-weight: normal;
	text-shadow: 0px 0px 2px #2696AB;
}
#sa-menu .sa-menu-inner .sa-menu-menu a .menu-icon{
	position: absolute;
    height: 41px;
    width: 41px;
    padding: 0;
    text-align: center;
}
#sa-menu .sa-menu-inner .sa-menu-menu a .menu-icon .contain{
	position:relative;
} 
#sa-menu .sa-menu-inner .sa-menu-menu a .menu-icon .bg{
	position: absolute;
    z-index: 1;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	-moz-opacity: 0.1;
	-khtml-opacity: 0.1;
	opacity: 0.1;
} 
#sa-menu .sa-menu-inner .sa-menu-menu a .menu-icon .sa-icon {
	position: relative;
    z-index: 2;
} 
#sa-menu .sa-menu-inner .sa-menu-menu a .menu-item{
	margin-left: 47px;
}
#sa-menu .sa-menu-inner .sa-menu-menu a:active{
	
}
#sa-menu .blur-copy .sa-close{
	position:relative;
}

#sa-tefilot {
	padding: 0 0 0 10px;
}
#sa-tefilot div {
	display:inline-block;
}
#sa-tefilot #sa-tefilot-event{
	text-shadow: 0px 0px 2px #ddd;
	color: #444;
    font-weight: 700;
	
}
#sa-tefilot-scroll {
	font-weight:normal;
	padding-left: 5px;
}
#sa-tefilot-scroll .sa-tefila{
	margin-right:8px;
}
#sa-tefilot-scroll .sa-tefila:last-child{
	margin-right:0;
}
#sa-tefilot-scroll .p{
	
}
#sa-tefilot-scroll .t{
	
}

.bigger{
	font-size: 16px;
    margin: 10px 10px 20px 10px;
    line-height: 23px;
}

form {
	
}
form p {
	
}
form input {
	
}
form input:focus {
	
}
form .param {
	position:relative;
}
form .param .input-status {
	position: absolute;
	top: 36px;
	right: 7px;
	display:none;
	color:#ff5151;
}
form .param.error input {
	
}
form .param.error .input-status {
	display:block;
}
form .ui-btn {
	margin-top:15px;
	background-color: #38c !important;
    border: 1px solid #38c !important;
    color: #fff !important;
    text-shadow: 0 1px 0 #059 !important;
}

.popup-full {
	background-color:#FFF;
	overflow: hidden;
}
a.sa-close-popup {
	text-decoration:none;
	font-size:18px;
	color:#333 !important;
	position: absolute;
    top: 12px;
    right: 10px;
	z-index:100;
}
.popup-full a.sa-close-popup:hover {
	color:#000;
}
.popup-full h3 {
	margin:0;
	padding: .7em 1em;
}
.popup-full h3 {
	background-color:#ffdcdc;
} 
.popup-full ul.errors{
	
}
.popup-full .errors li{
	
}

.sa-feed-post{
	
}
.sa-feed-post .ago{
	
}
.sa-feed-post .author{
	
}
.sa-feed-post .author .p{
	
}
.sa-feed-post .author .n{
	
}
.sa-feed-post .title{
	
}
.sa-feed-post .title a{
	
}
.sa-feed-post .img{
	
}
.sa-feed-post .img img{
	
}
.sa-feed-post .time{
	
}
.sa-feed-post .time .t{
	
}
.sa-feed-post .time .p{
	
}
.sa-feed-post .abstract{
	text-overflow: ellipsis;
    max-height: 300px;
    overflow: hidden;
}
.sa-feed-post a.more{
	
}
.sa-feed-post a.more:active{
	
}

.sa-detail{
	
}
.sa-detail .author{
	
}
.sa-detail .author .p{
	
}
.sa-detail .author .n{
	
}
.sa-detail .title{
	
}
.sa-detail .title a{
	
}
.sa-detail .img{
	
}
.sa-detail .img img{
	
}
.sa-detail .time{
	
}
.sa-detail .time .t{
	
}
.sa-detail .time .p{
	
}
.sa-detail .content{
	
}
.sa-detail a.reminder{
	
}
.sa-detail a.reminder:active{
	
}
.sa-detail .categories span{
	
}
a.token{
	
}
a.token:active{
	
}

.alert{
	padding:10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom:15px;
}
.alert h2, .alert h3{
	font-weight:400;
}
.alert .sa-icon{
	padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-weight: 900;
    border: 1px solid #fff;
    margin: 0 5px;
}
.alert.message {
	background-color: #dff0d8;
}
.alert.error {
	background-color:#ffdcdc;
}
.alert.info {
	background-color: #337ab7;
	text-shadow:0 1px 0 #333;
	color:#FFF;
}
.alert.info h2, .alert.info h3{
	color:#FFF;
}

.sa-feed{
	background-color:#f1f1f1 !important;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	background-color:#FFF;
}